@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAR</title>
    <link rel='stylesheet' id='estilos' href='estilos.css' type='text/css' media='all'>
    <meta property="og:type" content="video.movie" />
    <meta property="og:url" content="/images/mescalina.mp4" />
    <meta property="og:video" content="/images/mescalina.mp4" />
    <meta property="og:title" content="@ViewData["Title"]">
    <meta property="og:description" content="Viaja con nosotros.">
    @*<meta property="og:image" content="@ViewData["Message"]">*@
    <meta name="csrf-param" content="authenticity_token">
</head>
<body>
    <!--<div class="contenedor">
        <img src="">
        <h1></h1>
        <p></p>
    </div>-->
</body>
</html>
