@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAR</title>
    <link rel='stylesheet' id='estilos' href='estilos.css' type='text/css' media='all'>
    <meta property="og:type" content="video">
    <meta property="og:video:url" content="https://player.vimeo.com/video/227718208?autoplay=1">
<meta property="og:video:secure_url" content="https://player.vimeo.com/video/227718208?autoplay=1">
<meta property="og:video:type" content="text/html">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">
    <meta property="og:image" content="@ViewData["Message"]">
    <meta name="csrf-param" content="authenticity_token">
</head>
<body>
    <!--<div class="contenedor">
        <img src="">
        <h1></h1>
        <p></p>
    </div>-->
</body>
</html>
